<h1>WELCOME!</h1>
<p>This page is not create</p>

<%= link_to "Create Post", new_posts_path %>
<table>
<% @posts.each do |post|%>

<br/>Autor: <%= post.user.nickname %>
<h2><%= post.title%></h2>
<%= post.body%></br>
<%= post.updated_at %>


<% if current_user != nil and current_user.id==post.user_id %>
<p><%=link_to"Edit",edit_posts_path(post.id)%> or <%=link_to "Delete", posts_path(post.id), data: {confirm: "Are you shour?"}, method: :delete%></p>
<%end%>
<% end %>
</table>
