<div style="margin-left: 25px;"><h1>"<%= @post.title%>"</h1>
<p><%= @post.body%></p></div>
<hr>
<% @comments.each do |comment|  %>
<p style="margin-left: 50px;"><b>
<%=image_tag @post.user.avatar.url(:thumb), width:30, height:30 %> User <b style="color: green;"><%= comment.user.nickname %></b> write: 
</b></p>
<span style="margin-left: 70px;"><%= comment.text %></span>
<hr>
<% end %>


<%= form_for :postcomment, url: post_postcomments_path(post_id: @post.id) do |f| %>

<p><%= f.label "Write Comment" %></p>
<%= f.text_area :text, cols: 10, rows: 5 %><br />

<p><%= f.submit "Send"%></p>


<%end%>